# Libraries

In [11]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd 
import sys
sys.path.append("..")
import requests
import os 
import pandas as pd
from timeit import default_timer as timer
import json

# Loading data

In [4]:
image_predictions = pd.read_csv('../Data/image-predictions.tsv',sep='\t')
twitter_archive_enhanced = pd.read_csv('../Data/twitter-archive-enhanced.csv')

In [68]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [42]:
twitter_archive_enhanced.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [90]:
df_list = []
with open('../Data/tweet-json.txt', encoding='utf-8') as file:
    lines = file.readlines()
    #print line by line
    for line in lines:
        #convert line to dict
        line_dict = json.loads(line)
        #extract tweetId, retweet count and favorite count 
        tweet_ids = line_dict['id']
        retweet_count = line_dict['retweet_count']
        favorite_count = line_dict['favorite_count']
        
        #append in created list as dictionaries 
        df_list.append({'tweet ID': tweet_ids,
                        'retweet count': retweet_count,
                        'favorite count': favorite_count})
        
df_ = pd.DataFrame(df_list, columns = ['tweet ID', 'retweet count', 'favorite count'])

In [91]:
df_

                tweet ID  retweet count  favorite count
0     892420643555336193           8853           39467
1     892177421306343426           6514           33819
2     891815181378084864           4328           25461
3     891689557279858688           8964           42908
4     891327558926688256           9774           41048
...                  ...            ...             ...
2349  666049248165822465             41             111
2350  666044226329800704            147             311
2351  666033412701032449             47             128
2352  666029285002620928             48             132
2353  666020888022790149            532            2535

[2354 rows x 3 columns]

# Assessing data

##### Assessing data programmatically

In [61]:
def assess(df):
    infomation = df.info()
    describition = df.describe()
    tail_ = df.tail()
    head_ = df.head()
    return infomation,describition

In [77]:
assess(image_predictions)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

(None,
            tweet_id      img_num      p1_conf       p2_conf       p3_conf
 count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
 mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
 std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
 min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
 25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
 50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
 75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
 max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01)

In [63]:
assess(twitter_archive_enhanced)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

(None,
            tweet_id  in_reply_to_status_id  in_reply_to_user_id  \
 count  2.356000e+03           7.800000e+01         7.800000e+01
 mean   7.427716e+17           7.455079e+17         2.014171e+16
 std    6.856705e+16           7.582492e+16         1.252797e+17
 min    6.660209e+17           6.658147e+17         1.185634e+07
 25%    6.783989e+17           6.757419e+17         3.086374e+08
 50%    7.196279e+17           7.038708e+17         4.196984e+09
 75%    7.993373e+17           8.257804e+17         4.196984e+09
 max    8.924206e+17           8.862664e+17         8.405479e+17

        retweeted_status_id  retweeted_status_user_id  rating_numerator  \
 count         1.810000e+02              1.810000e+02       2356.000000
 mean          7.720400e+17              1.241698e+16         13.126486
 std           6.236928e+16              9.599254e+16         45.876648
 min           6.661041e+17              7.832140e+05          0.000000
 25%           7.186315e+17              4.196984e+09         10.000000
 50%           7.804657e+17              4.196984e+09         11.000000
 75%           8.203146e+17              4.196984e+09         12.000000
 max           8.874740e+17              7.874618e+17       1776.000000

        rating_denominator
 count         2356.000000
 mean            10.455433
 std              6.745237
 min              0.000000
 25%             10.000000
 50%             10.000000
 75%             10.000000
 max            170.000000  )

In [64]:
assess(df_)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2027 entries, 0 to 2026
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet ID        2027 non-null   int64
 1   retweet count   2027 non-null   int64
 2   favorite count  2027 non-null   int64
dtypes: int64(3)
memory usage: 47.6 KB

(None,
            tweet ID  retweet count  favorite count
 count  2.027000e+03    2027.000000     2027.000000
 mean   7.470648e+17    2580.560434     7470.807104
 std    6.951384e+16    4346.017185    11442.812872
 min    6.660209e+17       1.000000        0.000000
 25%    6.838513e+17     531.500000     1281.500000
 50%    7.280353e+17    1229.000000     3229.000000
 75%    8.089615e+17    2964.000000     9291.000000
 max    8.924206e+17   70870.000000   145080.000000)

In [65]:
image_predictions.tail(20)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [69]:
image_predictions[image_predictions.jpg_url.duplicated()]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1297,752309394570878976,https://pbs.twimg.com/ext_tw_video_thumb/67535...,1,upright,0.303415,False,golden_retriever,0.181351,True,Brittany_spaniel,0.162084,True
1315,754874841593970688,https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg,1,pug,0.272205,True,bull_mastiff,0.251530,True,bath_towel,0.116806,False
1333,757729163776290825,https://pbs.twimg.com/media/CWyD2HGUYAQ1Xa7.jpg,2,cash_machine,0.802333,False,schipperke,0.045519,True,German_shepherd,0.023353,True
1345,759159934323924993,https://pbs.twimg.com/media/CU1zsMSUAAAS0qW.jpg,1,Irish_terrier,0.254856,True,briard,0.227716,True,soft-coated_wheaten_terrier,0.223263,True
1349,759566828574212096,https://pbs.twimg.com/media/CkNjahBXAAQ2kWo.jpg,1,Labrador_retriever,0.967397,True,golden_retriever,0.016641,True,ice_bear,0.014858,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1903,851953902622658560,https://pbs.twimg.com/media/C4KHj-nWQAA3poV.jpg,1,Staffordshire_bullterrier,0.757547,True,American_Staffordshire_terrier,0.149950,True,Chesapeake_Bay_retriever,0.047523,True
1944,861769973181624320,https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg,2,Arabian_camel,0.366248,False,house_finch,0.209852,False,cocker_spaniel,0.046403,True
1992,873697596434513921,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,0.099984,True,printer,0.077130,False
2041,885311592912609280,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,1,Labrador_retriever,0.908703,True,seat_belt,0.057091,False,pug,0.011933,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True

In [78]:
retweet = (twitter_archive_enhanced[twitter_archive_enhanced['retweeted_status_user_id'].notnull()])['tweet_id'].values.tolist()

In [84]:
#assess if there are some retweets with images 
tweet_id = twitter_archive_enhanced.tweet_id.values.tolist()
for i,j in zip(tweet_id,retweet):
    if i==j:
        print('There are some retweets with image')
    else:
        print('no retweet with images')

no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images
no retweet with images

In [89]:
twitter_archive_enhanced.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

##### Quality 
###### image predictions

1. inconsistency in columns(P1,P2,P3): undescore mixed with hyphen in one word,lowercase and uppercase 
2. Tweet Id shoudl be in string not integer 


###### twitter_archive_enhanced

1. Euroneous columns( timestamp,retweeted_status_timestamp)
2. Missing observations
3. Null represented as none in name, doggo,floofer,pupper,puppo
4. Invalid names in column name 
5. rows whereby dog has different categories(for instance row 462 in spreadsheet dog has dido,doggo and pupper as categories
6. Tweet Id shoudl be in string not integer 


###### json data 
1. Tweet Id shoudl be in string not integer 


##### Tidyness
1. three dataframes could be merged since they are providing information of similar tweets 
###### image predictions


###### twitter_archive_enhanced
1. The four categories of dog  should be combined to form a single categorical column.


###### json data